@import url("/style/Main/Colors.css");
@import url("/style/Main/FullSize.css");
@import url("/style/Main/Blocks.css");
@import url("/style/Main/Entry.css");

html, body, * { 
    background-color: var(--Primary-Color);
    color: var(--Text-Color);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--Text-Color);
}

body {
    overflow: hidden;
}